body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
  }
  h1{
      font-weight: bold;
      text-align: center;
  }
table{
      background-color: aquamarine;
      border-color: black;
      border-width: 5px;
      border-style: solid;
      padding: 35px;
      }
td{
    font-weight: bold;
}